<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>


    <!-- importing the nav.ejs file -->
    <%-include('./partials/nav.ejs') %>

    <div class="blogs content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi doloremque optio quia fuga pariatur repudiandae sequi eius explicabo delectus autem vel quod voluptatum, dolorum non illo iste, officiis asperiores labore.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi doloremque optio quia fuga pariatur repudiandae sequi eius explicabo delectus autem vel quod voluptatum, dolorum non illo iste, officiis asperiores labore.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi doloremque optio quia fuga pariatur repudiandae sequi eius explicabo delectus autem vel quod voluptatum, dolorum non illo iste, officiis asperiores labore.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>